<h3>Previous Bills</h3></br></br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Bill ID</th>
    <th>Bill Amount</th>
    <th>Bill Date</th>
  </tr>
  </thead>

  <tbody>
  <% @bills.each do |bill| %>
  <tr>
      <td><%= link_to bill.id, bill_path(bill) %></td>
      <td><%= bill.total_amount %></td>
      <td><%= bill.created_at.to_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>
